<h1>Display your Pirate here</h1>
<h1><%=@you_bot%></h1>
<h1><%=@you_sick%></h1>
<h1><%=@you_chill%></h1>



<h2>Display your first ship here</h2>
<h1><%=@sip%></h1>

<h2>Display your second ship here</h2>
